.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Alexandria', sans-serif;
}
.top-box {
  width: 60%;
  height: auto;
  background: #b3f5c7;
  margin: 20px auto;
  margin-top: 0;
  border-radius: 10px;
}

.left-circle {
  width: 30px;
  height: 30px;
  background: #b1fac4;
  border-radius: 50%;
  border: 5px solid #22a846;
  float: right;
  margin-right: 10px;
}

.pidmi-container {
  border: 2px solid #22a846;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  background-color: #22a846;
}
.to {
  color: #ffffff;
  margin: 0 10px;
  align-self: center;
}

.date-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.startDate,
.todayDate {
  color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #1a8c38;
}
.dot-container {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #22a846;
}

.footer {
  border: 2px solid #22a846;
  text-align: center;
  margin-top: 20px;
  color: #555555;
  font-size: 14px;
  border-radius: 10px;
  font-family: 'Alexandria', sans-serif;
}

@media (max-width: 768px) {
  .top-box {
    width: 90%;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .top-box {
    width: 100%;
    margin: 0;
    border-radius: 10px;
  }
}
